* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: purple;
}

.box {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box__modal {
  background-color: aliceblue;
  position: absolute;
  top: 0;
}

.box__invisible {
  display: none;
}

button {
  border: none;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.3s;
  border-radius: 5px;
  background-color: rosybrown;
}
